# Comments start with a hash symbol (#)

# Ignore a single file
file.txt
.env
# Ignore a folder and all its contents
folder/
node_modules/

# Ignore files with a specific extension
*.tmp
*

# Ignore files with a specific pattern
*_backup.*

